/* Configuração do corpo da página para centralizar o formulário com uma imagem de fundo */
body {
    background-image: url("../images/login-walpaper.jpg"); /* Caminho para a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Estilização do contêiner de registro */
.register-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Ajuste da largura máxima */
    text-align: center;
}

/* Responsividade - Ajustes para diferentes tamanhos de tela */

/* Para telas pequenas (ex: dispositivos móveis) */
@media screen and (max-width: 480px) {
    .register-container {
        width: 90%; /* O formulário ocupará 90% da largura da tela em dispositivos móveis */
        max-width: none; /* Remove a largura máxima */
    }

    /* Ajustando o título */
    .register-container h1 {
        font-size: 20px; /* Tamanho da fonte para telas pequenas */
    }

    /* Ajustando os campos de entrada */
    .register-container input {
        font-size: 14px; /* Tamanho da fonte nos campos */
        padding: 8px; /* Menor padding para se adaptar ao tamanho da tela */
    }
}

/* Para telas médias (ex: tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .register-container {
        width: 70%; /* O formulário ocupará 70% da largura da tela em tablets */
        max-width: none; /* Remove a largura máxima */
    }

    /* Ajustando o título */
    .register-container h1 {
        font-size: 22px; /* Tamanho da fonte para telas médias */
    }

    /* Ajustando os campos de entrada */
    .register-container input {
        font-size: 16px; /* Tamanho da fonte nos campos */
        padding: 10px; /* Maior padding para telas maiores */
    }
}

/* Para telas grandes (ex: desktops) */
@media screen and (min-width: 769px) {
    .register-container {
        width: 100%; /* O formulário ocupará 100% da largura da tela em desktops */
        max-width: none; /* Remove a largura máxima */
    }

    /* Ajustando o título */
    .register-container h1 {
        font-size: 24px; /* Tamanho da fonte para telas grandes */
    }

    /* Ajustando os campos de entrada */
    .register-container input {
        font-size: 18px; /* Tamanho da fonte nos campos */
        padding: 12px; /* Maior padding para uma tela maior */
    }
}
