.centralizar {
  text-align: center; /*Centraliza os textos*/
}

h1.configurar {
  color: white; /* Define a cor do texto como branco */
  font-size: 30px; /* Define o tamanho da fonte para 30 pixels */
  text-align: center; /* Centraliza o texto horizontalmente dentro do elemento */
}

/* Define um estilo de flexbox no body para centralizar o conteúdo vertical e horizontalmente */
#definicoes {
  background: black; /* Define a cor de fundo */
  display: flex; /* Habilita o Flexbox para o alinhamento */
  align-items: center; /* Alinha o conteúdo ao centro verticalmente */
  justify-content: center; /* Alinha o conteúdo ao centro horizontalmente */
  flex-direction: column; /* Organiza o conteúdo em coluna */
  min-height: 100vh; /* Garante que o conteúdo ocupe a altura da tela */
  margin: 0; /* Remove as margens do body */
}
